[submodule "The-NERD-tree"]
	path = The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree
[submodule ".vim/bundles/The-NERD-tree"]
	path = .vim/bundles/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree
